<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>MercadoLibreAPP</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/todoJunto.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class= "container" id="bodyform">
      <h1 id= "titulodeform">Centro de Vendedores</h1>
     <p>Buscador de vendedor:</p>
      <input class="form-control" type="text" id="formulario">
      <button class="btn btn-outline" id="boton">Listar Todos</button>

    <ul id="resultado">
     </ul>
  </div>
  
  <script>
  /*
function traerDatos(){

const xhttp = new XMLHttpRequest();
xhttp.open("GET", "../data/products", true);
xhttp.send();

xhttp.onreadystatechange = function(){
  if(this.readyState == 4 && this.status ==200){

    let vendedores = JSON.parse(this.responseText);
  } 
}
}*/
  const vendedores = [
     {seller_id:"179571326", nombre:"Marcos"},
     {seller_id:"179532615", nombre:"Aurelio"},
     {seller_id:"178968551", nombre:"Arturo"},
     {seller_id:"179125469", nombre:"Pedro"},
     {seller_id:"179571333", nombre:"Nicolas"},
     {seller_id:"176918111", nombre:"Magali"},
     {seller_id:"173615555", nombre:"edro"},
     {seller_id:"165915784", nombre:"Marcelo"},
     {seller_id:"159918111", nombre:"Magali"},
     {seller_id:"126615555", nombre:"Pedro Armando"},
    ]

    const formulario = document.querySelector("#formulario");
    const boton = document.querySelector("#boton");
    const resultado = document.querySelector("#resultado");
    const filtrar = () =>{
      resultado.innerHTML = "";

     // console.log(formulario.value);
     const texto = formulario.value.toLowerCase();
     for(let vendedor of vendedores){ 
      let seller_id = vendedor.seller_id.toLowerCase();
       if(seller_id.indexOf(texto) !== -1){
         resultado.innerHTML += `
        <li><a href="/products/${vendedor.seller_id}">${vendedor.seller_id} - Nombre: ${vendedor.nombre}</a></li>
           `               
     } 
    }
    if(resultado.innerHTML === ""){
      resultado.innerHTML += `
      <li>vendedor no encontrado</li>
`
    } 
  }


    boton.addEventListener("click", filtrar)
    formulario.addEventListener("keyup", filtrar);

    filtrar;


  </script>
  
</body>
</html>
  </body>
</html>
